header {
  background: green;
  padding: 1rem;
}

main {
  background: gray;
  padding: 5rem;
}

footer {
  background: lightgrey;
  padding: 3rem;
}
/*
li {
  background: orange;
  width: 200px;
  padding: 2rem;
  list-style-type: none;
}

#pizzaBox {
  width: 400px;
  height: 400px;
  background-image: url('images/pizza.png');
  background-size: contain;
  position: relative;

.ingredients {
  width: 100px;
}

.order {
  background-color: orange;
  width: 15em;
  height: auto;
}

#Order {
  text-align: center;
}
