.orderButton {
  display: block;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
}

.orderList {
  background: #B5B3AA;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  height: 85px;
  margin: 0;
}

.order {
  background-color: #F4F2E9;
  height: 3rem;
  width: 13rem;
  display: inline-block;
  margin-left: 2rem;
  text-align: center;
  padding-top: 3%;
}

.toppingList {
  background: #B5B3AA;
  padding: 3rem;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.toppingIcon {
  height: 100px;
  width: 100px;
  background-image: url('images/pepperoni.svg');
  background-repeat: no-repeat;
}

.containerBox {
  background: #4A4947;
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.pizzaBox {
  width: 500px;
  height: 500px;
  background-image: url('images/pizza.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
}

.burnerBox {
  width: 500px;
  height: 500px;
  background-image: url('images/stovetop.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
}

.buttonContainer {
  background: #4A4947;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.button {
  width: 45%;
  font-size: 2rem;
}


.pepperoni {
  height: 75px;
  background-image: url('images/pepperoni.svg');
  background-repeat: no-repeat;
}

/*#cookButton {
  position: absolute;
  left: 35%;
  bottom: -3.5rem;
  font-size: 1.5rem;
}*/
