header {
  background: #B5B3AA;
  padding: 1rem;
}

main {
  background: #4A4947;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}

footer {
  background: #B5B3AA;
  padding: 3rem;
}

#pizzaBox {
  width: 400px;
  height: 400px;
  background-image: url('images/pizza.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#ovenBox {
  width: 400px;
  height: 400px;
  background-image: url('images/stovetop.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#cookButton {
  position: absolute;
  left: 35%;
  bottom: -3.5rem;
  font-size: 1.5rem;
}

.ingredients {
  width: 100px;
}

.order {
  background-color: orange;
  width: 15em;
  height: auto;
}

#Order {
  text-align: center;
}
